header {
	position: relative;
	top: 0;
    left: 0;
	vertical-align: middle;
	width: 100%;
	background-color: #290029;
	padding: 10px 0 5px 0;
	text-align: center;
	color: rgb(255,255,255);
	font: normal 28px 'League Gothic', Arial, sans-serif;
	letter-spacing: 2px;
}

header .amp {
	font-size: 20px;
}

body {
	background-color: #290029;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #290029;
}
footer p {
	text-align: center;
	font-size: 14px;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	padding: .5em .25em .5em 1em;
	color:rgb(255,255,255);
	margin: 0;
}

footer a {
	color: rgb(200,200,200);
}

.tab_content {
	color: inherit;
    float: left;
    width: 55%;
    background-color: inherit;
}
.tab_rss_feed{
    float: right;
    width: 35%;
	padding: 8px;
	margin: 10px;
	border: dotted;
	border-width: 2px;
	border-radius: 4px;
    background-color: #CCCCCC;
}
.tab_clearing {
    clear: both;
}
