.commit-list {
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}
.commit-header {
    display: inline-block;
    font-size : 14px;
}

.commit-body {
    align-content: center;
    font-size : 13px;
    font-weight: bold;
}
